@tailwind base;
@tailwind components;
@tailwind utilities;

.main input {
    @apply border rounded p-1 m-1;
}

.todo {
    @apply py-3 my-3 border-b border-gray-100;
}

.brand {
    @apply font-bold text-lg mr-5 text-gray-500;
}

.btn-primary {
    @apply inline-flex items-center rounded-md bg-orange-600 px-3 py-2 font-medium text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600;
    @apply shadow-lg;
}

.btn-secondary {
    @apply rounded-md bg-white px-3 py-2 font-medium text-gray-900 shadow ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}
